.homePageContainer {
  background-color: yellow  ;
  display: grid;
  grid-template-areas:
    "topBar"
    "postsFeed"
    "footer"
  ;
  grid-template-rows: minmax(0, 1fr) minmax(0, auto) minmax(0, 1fr);
  min-height: 100vh;
  overflow: auto;
}
